os:
- linux
- osx
sudo: false
language: rust
rust:
    - nightly
branches:
  only:
      - master
script:
- cargo build --verbose
- RUST_TEST_TASKS=1 RUST_TEST_THREADS=1 cargo test
after_success: |
- curl -sSL https://github.com/maidsafe/QA/raw/master/Bash%20Scripts/Travis/deploy_gh-pages.sh | bash
env:
  global:
    secure: DzS6hBiuUQybrHDvXWDPNsyuUwCPVrfayRDR4tQwN90Uykr+X2ILpNjA/wxEJuGOsPQc1qsk1VStSIHbYJjHl1ahS9tQo+PU1oukuT0b2r9EKkIJOLoc9W53DbHzmLef5Qr4GxqoI5IGOcU9G9V7Lovefsm3gebSwL6xosbg8AY=
