install:
  - ps: Start-FileDownload "https://github.com/maidsafe/QA/raw/master/Powershell%20Scripts/InstallRust.ps1"; . .\InstallRust.ps1

platform:
  - x86
  - x64

configuration:
# - Debug
  - Release

environment:
  matrix:
#	- RUST_VERSION: 1.1.0
#	- RUST_VERSION: beta
    - RUST_VERSION: nightly

build: false

test_script:
  - ps: if ($env:CONFIGURATION -eq "Release") {
          $env:config_flags = "--release"
        }
  - cargo build --verbose %config_flags%
  - set RUST_TEST_THREADS=1
  - set RUST_BACKTRACE=1
  - cargo test --verbose
