  install:
  - ps: |
        Start-FileDownload "https://github.com/maidsafe/QA/raw/master/Powershell%20Scripts/InstallRust.ps1"; . .\InstallRust.ps1
        $env:RUST_TEST_THREADS = 1
        $env:RUST_BACKTRACE = 1

platform:
  - x86
  - x64

configuration:
  - Release

environment:
  matrix:
#	- RUST_VERSION: 1.1.0
#	- RUST_VERSION: beta
    - RUST_VERSION: nightly

build: false

test_script:
    - ps: |
          cargo build --verbose --release
          $timeoutSeconds = 600
          $cargo_test = {
            cd $($env:APPVEYOR_BUILD_FOLDER)
            cargo test --release
          }
          $j = Start-Job -ScriptBlock $cargo_test
          if (Wait-Job $j -Timeout $timeoutSeconds) {
            Receive-Job -Job $j
          } else {
            "Test running for longer than 10 minutes"
            $host.SetShouldExit(-1)
            }
            Remove-Job -force $j
