environment:
  global:
    RUST_TEST_THREADS: 1
    RUST_BACKTRACE: 1
  matrix:
#    - RUST_VERSION: 1.3.0
#    - RUST_VERSION: beta
    - RUST_VERSION: nightly

clone_depth: 50

install:
  - ps: |
        $url = "https://github.com/maidsafe/QA/raw/master/Powershell%20Scripts/AppVeyor"
        Start-FileDownload "$url/Install%20Rust.ps1" -FileName "Install Rust.ps1"
        Start-FileDownload "$url/Build.ps1" -FileName "Build.ps1"
        Start-FileDownload "$url/Run%20Tests.ps1" -FileName "Run Tests.ps1"
        . ".\Install Rust.ps1"

platform:
  - x86
  - x64

configuration:
#  - Debug
  - Release

build_script:
  - ps: . ".\Build.ps1"

test_script:
  - ps: . ".\Run Tests.ps1"
