{
  "hard_coded_contacts": [],
  "tcp_acceptor_port": null,
  "force_acceptor_port_in_ext_ep": false,
  "service_discovery_port": null,
  "service_discovery_listener_port": null,
  "bootstrap_cache": {
    "file_name": null,
    "max_size": 200,
    "timeout": 120
  },
  "whitelisted_node_ips": null,
  "whitelisted_client_ips": null,
  "network_name": null
}