{
  "tcp_listening_port": 5483,
  "utp_listening_port": null,
  "override_default_bootstrap": false,
  "hard_coded_contacts": [
    {
      "protocol": "tcp",
      "address": "45.55.207.180:5483"
    },
    {
      "protocol": "utp",
      "address": "45.55.207.180:5483"
    },
    {
      "protocol": "tcp",
      "address": "178.62.7.96:5483"
    },
    {
      "protocol": "utp",
      "address": "178.62.7.96:5483"
    },
    {
      "protocol": "tcp",
      "address": "128.199.199.210:5483"
    },
    {
      "protocol": "utp",
      "address": "128.199.199.210:5483"
    },
    {
      "protocol": "tcp",
      "address": "37.59.98.1:5483"
    },
    {
      "protocol": "utp",
      "address": "37.59.98.1:5483"
    },
    {
      "protocol": "tcp",
      "address": "45.79.93.11:5483"
    },
    {
      "protocol": "utp",
      "address": "45.79.93.11:5483"
    },
    {
      "protocol": "tcp",
      "address": "45.79.2.52:5483"
    },
    {
      "protocol": "utp",
      "address": "45.79.2.52:5483"
    }
  ],
  "beacon_port": 5484
}
